body{
	margin:0;
	padding: 0;
}


h2{
	color: rgba(0, 112, 138, 1);
	text-align: center;
}


h3{
	color: rgba(0, 112, 138, 1);
	text-align: center;
}


.profile-clearfix{
	margin-left: 300px;
	
}


p{
	text-align: center;
}