#titulo{
	text-align: center; 
	color: red;
}

#segundo-titulo{
	text-align: center;
}

#datos-paciente{
	text-align: center; 
}

#datos-propietario{
	text-align: center;
}


#datos-medioambientales{
	text-align: center;
}